@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #001821;
    color: #ffffff;
    font: 400 16px/1.42 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

p {
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

.main-page-wrapper {
    background: url(../img/bg/hero.jpg) center top no-repeat, url(../img/bg/bottom-pic.jpg) center bottom 155px no-repeat;
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.header {
    min-height: 140px;
    position: relative;
    margin-bottom: 72px;
}

.logo {
    display: block;
    position: absolute;
    top: 23px;
}

.logo__img {
    height: 43px;
    width: 100px;
}

.menu {
    position: absolute;
    top: 31px;
    left: 164px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item--active .menu__link {
    color: #DA0100;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    position: absolute;
    top: 16px;
    right: 0;
    font-style: normal;
    text-align: center;
}

.contacts__description {
    font-size: 11px;
    color: #9A9A9A;
    text-align: right;
    margin-top: 7px;
}

.contacts__phone {
    display: block;
    text-decoration: none;
    font-size: 26px;
}

.contacts__dropdown-title {
    display: block;
    font-size: 13px;
    text-decoration: underline;
    margin-top: -3px;
    text-align: right;
}

.preview {
    width: 520px;
    display: inline-block;
    margin-bottom: 249px;
}

.preview__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 28px;
}

.preview__info {
    font-size: 18px;
    margin-bottom: 34px;
}

.button {
    background-color: #F5170E;
    border-radius: 35px;
    border-style: none;
    display: inline-block;
    padding: 16px 39px;
    color: #fff;
    font: bold 14px/1.42 'Open Sans', Helvetica, sans-serif;
    text-transform: uppercase;
}

.button:hover {
    background-color: #DA0100;
}

.section {
    margin-bottom: 136px;
}

.section-news__extramarg {
    margin-bottom: 150px;
}

.section-about__extramarg {
    margin-bottom: 43px;
}

.section__title {
    margin-bottom: 50px;
}

.section__title-word {
    font-size: 36px;
    font-weight: bold;
}

.tour__title-word {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
}

.tour__title-icon {
    display: inline-block;
    margin-left: 3px;
}

.tour__item {
    display: inline-block;
    min-height: 436px;
    width: 361px;
    margin-right: 24px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.tour__header {
    height: 139px;
}

.tour__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tour__terms:last-child {
    margin-right: 0px;
}

.tour__content {
    padding: 22px 23px;
    color: #000;
    line-height: 1.5;
}

.tour__list-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 18px;
}

.tour__terms {
    display: inline-block;
    margin-bottom: 21px;
}

.tour__terms-item {
    display: inline-block;
    margin-right: 29px;
    color: #666666;
}

tour__terms-item:last-child {
    margin-right: 0;
}

.tour__terms-icon {
    vertical-align: middle;
}

.tour__terms-info{
    display: inline-block;
    margin-left: 10px;
}

.tour__discription {
    display: inline-block;
    font-size: 14px;
    color: #303030;
    margin-bottom: 12px;
}

.tour__button {
    display: inline-block;
    padding: 14px 27px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 35px;
    border: 1px solid #F5170E;
    color: #F5170E;
    margin-left: 3px;
}

.tour__button:hover {
    background-color: #F5170E;
    color: #fff;
}

.tour__content .tour__button--active {
    background-color: #F5170E;
    color: #fff;
}

.news {
    margin-bottom: 46px;
}

.news__item {
    width: 557px;
    height: 394px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 21px;
}

.news__item:last-child {
    margin-right: 0px;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

.news__info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 31px;
    min-height: 171px;
}

.news__date {
    display: block;
    font-size: 14px;
    margin-bottom: 13px;
}

.news__subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 6px;
}

.paginator {
    text-align: center;
}

.paginator__display, .paginator__list {
    display: inline-block;
    vertical-align: middle;
}

.paginator__display {
    margin-right: 44px;
}

.paginator__item {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    line-height: 32px;
}

.paginator__item--active .paginator__link {
    background-color: #fff;
    color: #F5170E;
}

.paginator__link:hover {
    background-color: #fff;
    color: #F5170E;
}

.about:before, .about__info {
    display: inline-block;
    vertical-align: top;
}

.about:before {
    content: "";
    width: 489px;
    height: 502px;
    background: url(../img/decor/gates.jpg) center center / cover no-repeat;
    border-radius: 5px;
    overflow: hidden;
}

.about__info {
    padding: 69px 95px;
    width: 779px;
    min-height: 455px;
    margin-left: -133px;
    margin-top: 107px;
    border-radius: 5px;
    overflow: hidden;
    background: url(../img/decor/mountains.jpg) top center / cover no-repeat;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    margin-bottom: 28px;
}

.about__info-text {
    margin-bottom: 42px;
    color: #060606;
    line-height: 1.7;
}

.about__info-text p {
    margin-bottom: 20px;
}

.about__info-text p:last-child {
    margin-bottom: 0;
}

.footer-container {
    height: 146px;
    position: relative;
    margin-top: 22px;
}

.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.footer__logo {
    top: 45px;
}

.footer__menu {
    top: 54px;
}

.socials {
    position: absolute;
    top: 50px;
    right: 252px;
}

.footer__contacts {
    top: 37px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--tg .socials__link {
    background-image: url(../img/icons/socials/t2.png);
    opacity: 0.5;
}

.socials__item--icon--tg .socials__link:hover {
    opacity: 1;
}

.socials__item--icon--vk .socials__link {
    background-image: url(../img/icons/socials/vk2.png);
    opacity: 0.5;
}

.socials__item--icon--vk .socials__link:hover {
    opacity: 1;
}

.socials__item--icon--fb .socials__link {
    background-image: url(../img/icons/socials/f2.png);
    opacity: 0.5;
}

.socials__item--icon--fb .socials__link:hover {
    opacity: 1;
}

.socials__item--icon--insta .socials__link {
    background-image: url(../img/icons/socials/in2.png);
    opacity: 0.5;
}

.socials__item--icon--insta .socials__link:hover {
    opacity: 1;
}
