@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    color: #000000;
    font: 400 16px/1.42 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin-top: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 1200px;
    overflow: hidden;
}

.top-line {
    display: flex;
    flex-direction: column;
    min-height: 412px;
    background: url(../img/bg/headline.jpg)right 30% top no-repeat;
    color: #ffffff;
    padding-bottom: 23px;
    margin-bottom: 103px
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.top-line__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.header {
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo__img {
    height: 43px;
    width: 100px;
    margin-right: 65px;
}

.menu {
    display: flex;
    flex-grow: 1;
    margin-right: 39px;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 51px;
}

.menu__item--active .menu__link {
    color: #DA0100;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    font-style: normal;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.contacts__description {
    font-size: 11px;
    color: #9A9A9A;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
}

.contacts__dropdown {
    position: relative;
    cursor: default;
}

.contacts__dropdown:hover .contacts__dropdown-menu {
    right: 0;
    opacity: .8;
}

.contacts__dropdown_textstyle {
    font-size: 13px;
    line-height: 1.7;
}

.contacts__dropdown-menu {
    position: absolute;
    background: #EDEDED;
    border-radius: 5px;
    width: 152px;
    padding: 12px;
    text-align: center;
    top: 100%;
    right: -9999px;
    color: #1E1F20;
    opacity: 0;
    transition: opacity .4s;
    margin-top: 4px;
}

.contacts__dropdown-menu:before {
    content: '';
    height: 20px;
    display: block;
    left: 0;
    right: 0;
    top: -19px;
    position: absolute;
}

.contacts__dropdown-menu:after {
    content: '';
    border: 15px solid transparent;
    display: block;
    border-right-width: 11px;
    border-left-width: 11px;
    right: 41px;
    border-bottom-color: #EDEDED;
    border-top-width: 0px;
    position: absolute;
    top: -9px;
}

.contacts__dropdown-title {
    display: inline-flex;
    text-decoration: underline;
    text-align: right;
}

.contacts__dropdown-item_fontstyle {
    font-weight: bold;
}

.page__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 28px;
    margin: 0px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    padding-left: 2px;
}

.breadcrumbs__item:first-child {
    padding-left: 0px;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
}

.breadcrumbs__item:after {
    padding-left: 2px;
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
    text-decoration: underline;
}

.main {
    background: #FFF;
    color: #303030;
    margin-bottom: 86px;
}

.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 47px;
}

.review {
    height: 100%;
    width: 557px;
    background: #F4F5F5;
    display: inline-flex;
    flex-direction: column;
    padding: 50px 31px 33px;
}

.reviews__item {
    margin-bottom: 22px;
}

.reviews__item:nth-child(even) {
    margin-right: 0;
}

.review__header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
    align-items: center;
}

.avatar {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 22px;
}

.avatar-elem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__userdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 11px;
}

.review__user:after {
    content: url(../img/icons/socials/vk-blue.png);
    height: 30px;
    padding-left: 6px;
}

.review__user--active {
    color: #2E77A4;
    text-decoration: underline;
}

.tag {
    border-radius: 35px;
    font-size: 13px;
    color: #303030;
    padding: 8px 17px;
}

.tag--bg--green {
    background: #B9EAE4;
}

.review__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 19px;
}

.review__content-text {
    color: #818181;
    line-height: 1.7;
    margin-bottom: 45px
}

.review__date {
    color: #1A1B1E;
    font-size: 14px;
    font-weight: 600;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator__display {
    display: flex;
    margin-right: 22px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__item {
    text-align: center;
    font-weight: bold;
}

.paginator__display-curent {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

.paginator__display-all {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
}

.paginator__item--active .paginator__link {
    background-color: #F5170E;
    color: #FFF;
}

.paginator__link:hover {
    background-color: #F5170E;
    color: #FFF;
}

.inner-section {
    background: #ffffff;
    color: #1A1B1E;
}

.inner-section--mountains {
    background: url(../img/bg/middleline.jpg) center bottom no-repeat;
}

.mountains__container {
    background: url(../img/decor/couple.png) right 5% bottom no-repeat;
    display: flex;
    align-items: center;
    height: 363px;
}

.mountains__title {
    color: #FFF;
    font-size: 48px;
    font-weight: bold;
    max-width: 50%;
    line-height: 1.2;
}

.inner-section--bg--grey {
    background: #F4F5F5;
    padding-top: 73px;
    padding-bottom: 102px;
}

.form__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 45px;
}

.form__row {
    display: flex;
    margin-bottom: 28px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background: #FFF;
    padding: 21px 30px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input--textarea {
    height: 235px;
    resize: none;
    padding: 30px;
}

.form__controls {
    display: flex;
    margin-bottom: 23px;
}

.form__controls-title {
    width: 33%;
    font-size: 18px;
    color: #1A1B1E;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 10px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox {
    display: none;
}

.controls__tag {
    background: #E7E7E7;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}

.form__button {
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: #F5170E;
    border-radius: 35px;
    border-style: none;
    padding: 16px 39px;
    color: #fff;
    font: bold 14px/1.42 'Open Sans', Helvetica, sans-serif;
    text-transform: uppercase;
}

.input__button {
    margin-right: 20px;
    padding: 16px 45px;
    cursor: pointer;
}

.button--bg--black:hover {
    background: #2B2B2B;
}

.inner-footer {
    background-color: #001821;
    color: #FFF;
    margin-top: auto;
    padding: 40px 0;
}

.footer-container {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}

.socials {
    margin-right: 52px;
}

.socials__list {
    display: flex;
    margin-right: 20px;
}

.socials__item {
    display: flex;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    position: relative;
}

.socials__link:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 36px;
    width: 36px;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.socials__link:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 36px;
    width: 36px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s;
}

.socials__item--icon--tg .socials__link:after {
    background: url(../img/icons/socials/socials_sprites.png) -122px -10px;
}

.socials__item--icon--tg .socials__link:before {
    background: url(../img/icons/socials/socials_sprites.png) -122px -66px;
}

.socials__item--icon--vk .socials__link:after {
    background: url(../img/icons/socials/socials_sprites.png) -10px -122px;;
}

.socials__item--icon--vk .socials__link:before  {
    background: url(../img/icons/socials/socials_sprites.png) -66px -122px;;
}

.socials__item--icon--fb .socials__link:after  {
    background: url(../img/icons/socials/socials_sprites.png) -10px -10px;
}

.socials__item--icon--fb .socials__link:before  {
    background: url(../img/icons/socials/socials_sprites.png) -66px -10px;
}

.socials__item--icon--insta .socials__link:after  {
    background: url(../img/icons/socials/socials_sprites.png) -10px -66px;
}

.socials__item--icon--insta .socials__link:before  {
    background: url(../img/icons/socials/socials_sprites.png) -66px -66px;
}

.socials__link:hover:after {
    opacity: 0;
}

.socials__link:hover:before {
    opacity: 1;
}